RABBITMQ_HOST=0.0.0.0
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_NOTIFICATIONS_QUEUE=rabbitmq_notifications_queue

TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
