elastic_host=elasticsearch1
elastic_port=9200
elastic_user=elastic
elastic_password=elastic_password_example

redis_host=redis
redis_port=6380
redis_user=default
redis_password=redis12345

admin_api_key=your_super_secret_admin_key_here
